* {
    -fx-font-family: Tahoma
}

.root {
    -fx-background-color: #FFF
}

.title {
    -fx-font-size: 20px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%)
}

/* Start jfxtabpane */

.tab-title {
    -fx-padding: 5px 0;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: transparent;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #EEE;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #2196f3;
}

.jfx-tab-pane .tab {
    -fx-cursor: hand;
}

.jfx-tab-pane .tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-family: Tahoma;
    -fx-text-fill: #2196f3;
    -fx-font-weight: normal;
}

/* End jfxtabpane */

.box-header {
    -fx-background-color: #EFEFEF;
    -fx-effect: dropshadow(three-pass-box, rgba(100,100,100,1), 2, 0, 0, 0);
    -fx-background-radius: 2;
}

.box-title {
    -fx-font-size: 16px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
}

.box-area {
    -fx-font-size: 15px;
}

.btn {
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
    -fx-font-size: 16px;
    -fx-background-color: #999;
    -fx-text-fill: #FFF;
    -jfx-button-type: RAISED;
    -fx-cursor: hand
}

.btn-success {
    -fx-background-color: #4285f4;
}

.btn-primary {
    -fx-background-color: #FF8800;
}

.field-size {
    -fx-pref-width: 80px;
    -fx-pref-height: 35px;
    -fx-font-size: 15px;
    -jfx-label-float: true;
    -jfx-unfocus-color: #666;
    -jfx-focus-color: #2196f3;
}

/* Start JFXSnackbar (toast) */

.jfx-snackbar-content {
    -fx-background-color: #F00;
    -fx-padding: 0 20px 0 20px
}
.jfx-snackbar-toast {
    -fx-text-fill: #FFF;
    -fx-font-size: 18px;
    -fx-font-family: Tahoma
}

/* End JFXSnackbar (toast) */